h1 {
  text-align: center;
  font-size: 2em;
  color: #002;
  margin-bottom: .3em;
  font-family: Monaco, Monospace;
}
h2 {
  text-align: center;
}
img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%
}
h3 {
  margin: .1em
  width: 290px;
}

p {
  margin: .9em
}
body {
  background-color: aliceblue;
  font-family: Helvetica, sans-serif;
}
