h1 {
  text-align: left;
  font-size: 2em;
  color: #002;
  margin-bottom: .3em;
  font-family: Monaco, Monospace;
}

h3 {
  margin: .1em
  width: 290px;
}

p {
  margin: .9em
}
body {
  background-color: aliceblue;
  font-family: Helvetica, sans-serif;
}
