h1 {
  text-align: left;
  font-size: 2em;
  color: #002;
  margin-bottom: .3em;
}

h3 {
  margin: .1em
  width: 290px;
}

p {
  margin: .9em
}
body {
  background-color: mintcream;
  font-family: Verdana, sans-serif;
}
